extends ../layout

block content
    h1.
        User ID #{user._id}
    form(action='/users/#{user._id}/edit',method='post',name='updateuser',enctype='application/x-www-form-urlencoded')
        p Name:
            input#inputName(type='text', value='#{user.name}', name='name')
        p Badge:
            input#inputBadge(type='password', value='#{user.pass}', name='pass')
        p DOB:
            input#inputDob(type='date', value='#{userdob}', name='dob')
        p Are you Active?:
            input#inputIsLoved(type='checkbox', name='isActive', checked=('#{user.isActive}'==='true' ? "checked" : undefined))
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update
